@inject NavigationManager NavManager
@using System.Web

<div class="filters">
	<label for="maxLength">Max Length (km)</label>
	<input id="maxLength" type="number"	class="form-control" @bind="_maxLength" />
	<label for="maxTime">Max Time (hours)</label>
	<input id="maxTime" type="number" class="form-control" @bind="_maxTime" />
	<button class="btn btn-outline-primary"	@onclick="FilterSearchResults">Filter</button>
	<button class="btn btn-outline-secondary" @onclick="ClearSearchFilter">Clear</button>
</div>

@code {
	[Parameter] public string SearchQuery { get; set; }
	public int _maxLength;
	public int _maxTime;

	private void FilterSearchResults()
	{
		var queryString = HttpUtility.ParseQueryString(string.Empty);

		if (_maxLength > 0)
			queryString.Add("maxlength", _maxLength.ToString());
		if (_maxTime > 0)
			queryString.Add("maxtime", _maxTime.ToString());
		if (string.IsNullOrWhiteSpace(queryString.ToString()))
		{
			return;
		}

		NavManager.NavigateTo($"/search/{SearchQuery}?{queryString.ToString()}");
	}

	protected override void OnInitialized()
	{
		NavManager.TryGetQueryString<int>("maxlength", out _maxLength);
		NavManager.TryGetQueryString<int>("maxtime", out _maxTime);
	}

	private void ClearSearchFilter()
	{
		_maxLength = 0;
		_maxTime = 0;
		NavManager.NavigateTo($"/search/{SearchQuery}");
	}
}
